In [2]:
### importing pandas libary

import pandas as pd

In [3]:
### loading the data into the dataframe

df = pd.read_csv("C:\\Users\\hp\\Downloads\\Indiepay_users.csv")

In [4]:
df

,User_ID,Country,Freelancer_Type,Solo_or_Team,Active_Clients,Features_Used,Trial_Usage_Level,Nudges_Responded,Bank_Connected,Support_Used,...,Converted_to_Paid,Feedback_Notes,Sign_Up_Date,Trial_End_Date,Conversion_Date,Last_Login_Date,Total_Logins,Paid_Plan,Payment_Method,Churn_Reason
0,51,UK,Consultant,Team,5,"Clients, Cashflow",Low,NaN,Yes,No,...,No,Didn’t understand benefit,2024-08-12,2024-09-11,NaN,2024-10-24,41,Basic,NaN,Didn’t see value
1,52,UK,Artist,Solo,2,Reports,High,Urgency Nudge,No,Yes,...,No,Didn’t understand benefit,2024-06-22,2024-07-22,NaN,2024-12-02,37,Basic,NaN,NaN
2,53,Kenya,Consultant,Solo,3,"Expense, Invoice, Reports",High,"Upsell, Urgency Nudge",No,Yes,...,No,Didn’t return after first try,2024-05-04,2024-06-03,NaN,2024-05-04,11,Basic,NaN,NaN
3,54,Kenya,Developer,Team,10,Invoice,High,Upsell,Yes,No,...,No,Didn’t return after first try,2024-06-06,2024-07-06,NaN,2024-06-19,42,Basic,NaN,NaN
4,55,Nigeria,Artist,Solo,0,"Clients, Reports, Invoice",Medium,NaN,No,Yes,...,No,Didn’t understand benefit,2024-01-21,2024-02-20,NaN,2024-11-04,44,Basic,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,306,Ghana,Developer,Team,2,"Reports, Clients, Cashflow",Low,Upsell,No,No,...,Yes,NaN,2024-07-17,2024-08-16,2024-09-13,2025-03-20,21,Premium,Bank Transfer,NaN
256,307,UK,Artist,Solo,11,Clients,Medium,NaN,No,No,...,Yes,NaN,2024-09-18,2024-10-18,2024-10-30,2024-09-19,49,Pro,Credit Card,NaN
257,308,Nigeria,Artist,Team,12,"Invoice, Reports, Clients",High,Urgency Nudge,Yes,No,...,Yes,NaN,2024-09-26,2024-10-26,2024-11-06,2024-11-04,17,Pro,PayPal,NaN
258,309,UK,Artist,Solo,6,Expense,Medium,NaN,Yes,Yes,...,No,Didn’t return after first try,2025-05-23,2025-06-22,NaN,2025-05-24,40,Basic,NaN,Too buggy
259,310,UK,Artist,Solo,9,Invoice,High,Urgency Nudge,No,No,...,No,Didn’t understand benefit,2025-01-13,2025-02-12,NaN,2025-09-07,5,Basic,NaN,Too buggy

In [5]:
### checking for missing values
df.isnull().sum()

User_ID                0
Country                0
Freelancer_Type        0
Solo_or_Team           0
Active_Clients         0
Features_Used          0
Trial_Usage_Level      0
Nudges_Responded      78
Bank_Connected         0
Support_Used           0
Trial_Completed        0
Converted_to_Paid      0
Feedback_Notes        67
Sign_Up_Date           0
Trial_End_Date         0
Conversion_Date      188
Last_Login_Date        0
Total_Logins           0
Paid_Plan             16
Payment_Method       189
Churn_Reason         101
dtype: int64

In [6]:
## checking for data types
df.dtypes

User_ID               int64
Country              object
Freelancer_Type      object
Solo_or_Team         object
Active_Clients        int64
Features_Used        object
Trial_Usage_Level    object
Nudges_Responded     object
Bank_Connected       object
Support_Used         object
Trial_Completed      object
Converted_to_Paid    object
Feedback_Notes       object
Sign_Up_Date         object
Trial_End_Date       object
Conversion_Date      object
Last_Login_Date      object
Total_Logins          int64
Paid_Plan            object
Payment_Method       object
Churn_Reason         object
dtype: object

In [7]:
### converting the date columns

date_col = ["Sign_Up_Date", "Trial_End_Date", "Conversion_Date", "Last_Login_Date"]
df[date_col] = df[date_col].apply(pd.to_datetime, errors='coerce')

In [8]:
df.dtypes

User_ID                       int64
Country                      object
Freelancer_Type              object
Solo_or_Team                 object
Active_Clients                int64
Features_Used                object
Trial_Usage_Level            object
Nudges_Responded             object
Bank_Connected               object
Support_Used                 object
Trial_Completed              object
Converted_to_Paid            object
Feedback_Notes               object
Sign_Up_Date         datetime64[ns]
Trial_End_Date       datetime64[ns]
Conversion_Date      datetime64[ns]
Last_Login_Date      datetime64[ns]
Total_Logins                  int64
Paid_Plan                    object
Payment_Method               object
Churn_Reason                 object
dtype: object

In [9]:
df["Converted_to_Paid"].value_counts()

Converted_to_Paid
No     174
Yes     86
Name: count, dtype: int64

In [10]:
table = df.groupby(["Converted_to_Paid" , "Country"]).size().reset_index(name='count')
table['percentage'] = round((table["count"]/table["count"].sum()) * 100, 1)
table

   Converted_to_Paid       Country  count  percentage
0                 No       Germany      8         3.1
1                 No         Ghana     22         8.5
2                 No         Kenya     35        13.5
3                 No       Nigeria     32        12.3
4                 No  South Africa     29        11.2
5                 No            UK     38        14.6
6                 No           USA     10         3.8
7                Yes       Germany      2         0.8
8                Yes         Ghana     17         6.5
9                Yes         Kenya     15         5.8
10               Yes       Nigeria     22         8.5
11               Yes  South Africa     10         3.8
12               Yes            UK     20         7.7

In [11]:
table = df.groupby(["Converted_to_Paid", "Country"]).size().reset_index(name='count')
table['percentage'] = round(table.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table

   Converted_to_Paid       Country  count  percentage
0                 No       Germany      8         4.6
1                 No         Ghana     22        12.6
2                 No         Kenya     35        20.1
3                 No       Nigeria     32        18.4
4                 No  South Africa     29        16.7
5                 No            UK     38        21.8
6                 No           USA     10         5.7
7                Yes       Germany      2         2.3
8                Yes         Ghana     17        19.8
9                Yes         Kenya     15        17.4
10               Yes       Nigeria     22        25.6
11               Yes  South Africa     10        11.6
12               Yes            UK     20        23.3

GROUPING BY FREELANCER

In [12]:
## grouping by freelancer

table_1 = df.groupby(["Converted_to_Paid", "Freelancer_Type"]).size().reset_index(name='count')
table_1['percentage'] = round(table_1.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_1

   Converted_to_Paid Freelancer_Type  count  percentage
0                 No          Artist     46        26.4
1                 No           Coach     29        16.7
2                 No      Consultant     33        19.0
3                 No        Designer      8         4.6
4                 No       Developer     33        19.0
5                 No          Writer     25        14.4
6                Yes          Artist     20        23.3
7                Yes           Coach     12        14.0
8                Yes      Consultant     18        20.9
9                Yes        Designer      4         4.7
10               Yes       Developer     18        20.9
11               Yes          Writer     14        16.3

In [13]:
# Count of solo vs team users within each conversion status, plus their percentage share
table_2 = df.groupby(["Converted_to_Paid", "Solo_or_Team"]).size().reset_index(name='count')
table_2['percentage'] = round(table_2.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_2

  Converted_to_Paid Solo_or_Team  count  percentage
0                No         Solo    101        58.0
1                No         Team     73        42.0
2               Yes         Solo     46        53.5
3               Yes         Team     40        46.5

In [14]:
# Count of Trial usage level within each conversion status, plus their percentage share

table_3 = df.groupby(["Converted_to_Paid", "Trial_Usage_Level"]).size().reset_index(name='count')
table_3['percentage'] = round(table_3.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_3

  Converted_to_Paid Trial_Usage_Level  count  percentage
0                No              High     55        31.6
1                No               Low     49        28.2
2                No            Medium     70        40.2
3               Yes              High     37        43.0
4               Yes               Low     20        23.3
5               Yes            Medium     29        33.7

In [15]:
# Count of  users who connected their banks within each conversion status, plus their percentage share

table_4 = df.groupby(["Converted_to_Paid", "Bank_Connected"]).size().reset_index(name='count')
table_4['percentage'] = round(table_4.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_4

  Converted_to_Paid Bank_Connected  count  percentage
0                No             No     91        52.3
1                No            Yes     83        47.7
2               Yes             No     46        53.5
3               Yes            Yes     40        46.5

In [16]:
# Count of users who used support within each conversion status, plus their percentage share

table_5 = df.groupby(["Converted_to_Paid", "Support_Used"]).size().reset_index(name='count')
table_5['percentage'] = round(table_5.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_5

  Converted_to_Paid Support_Used  count  percentage
0                No           No     91        52.3
1                No          Yes     83        47.7
2               Yes           No     46        53.5
3               Yes          Yes     40        46.5

In [17]:
# Count of feedback within each conversion status, plus their percentage share

table_6 = df.groupby(["Converted_to_Paid", "Feedback_Notes"]).size().reset_index(name='count')
table_6['percentage'] = round(table_6.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_6

   Converted_to_Paid                 Feedback_Notes  count  percentage
0                 No       Dashboard lacked clarity      2         1.2
1                 No          Didn’t complete setup     19        11.4
2                 No            Didn’t like pricing      3         1.8
3                 No  Didn’t return after first try     25        15.1
4                 No      Didn’t trust banking flow     19        11.4
5                 No     Didn’t trust finance tools      1         0.6
6                 No      Didn’t understand benefit     28        16.9
7                 No           Features too complex     21        12.7
8                 No               Features too few      1         0.6
9                 No           Needed export option      4         2.4
10                No          No reason to continue      1         0.6
11                No          Prefer existing tools     17        10.2
12                No                Setup confusing      1         0.6
13                No                  Too expensive     15         9.0
14                No              Wanted mobile app      5         3.0
15                No             Wanted mobile view      1         0.6
16                No        Wanted richer reporting      2         1.2
17                No                              —      1         0.6
18               Yes          Didn’t complete setup      4        14.8
19               Yes            Didn’t like pricing      1         3.7
20               Yes  Didn’t return after first try      5        18.5
21               Yes      Didn’t trust banking flow      2         7.4
22               Yes      Didn’t understand benefit      2         7.4
23               Yes           Features too complex      2         7.4
24               Yes           Needed export option      5        18.5
25               Yes          Prefer existing tools      3        11.1
26               Yes                  Too expensive      1         3.7
27               Yes              Wanted mobile app      2         7.4

In [18]:
# Count of users paid plan within each conversion status, plus their percentage share

table_7 = df.groupby(["Converted_to_Paid", "Paid_Plan"]).size().reset_index(name='count')
table_7['percentage'] = round(table_7.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_7

  Converted_to_Paid Paid_Plan  count  percentage
0                No     Basic    157        99.4
1                No       Pro      1         0.6
2               Yes     Basic      2         2.3
3               Yes    Premim      1         1.2
4               Yes   Premium     31        36.0
5               Yes   Premuim      1         1.2
6               Yes    Premum      1         1.2
7               Yes       Pro     43        50.0
8               Yes   Starter      7         8.1

In [19]:
## standadizing the column

df["Paid_Plan"] = df["Paid_Plan"].str.lower().str.strip()
df["Paid_Plan"] = df["Paid_Plan"].replace({ "premim": "premium", "premuim" : "premium", "premuim" : "premium", "premum" : "premium", "starter" : "pro"})

In [20]:
table_7 = df.groupby(["Converted_to_Paid", "Paid_Plan"]).size().reset_index(name='count')
table_7['percentage'] = round(table_7.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_7

  Converted_to_Paid Paid_Plan  count  percentage
0                No     basic    157        99.4
1                No       pro      1         0.6
2               Yes     basic      2         2.3
3               Yes   premium     34        39.5
4               Yes       pro     50        58.1

In [21]:
# Count of churn within each conversion status, plus their percentage share

table_8 = df.groupby(["Converted_to_Paid", "Churn_Reason"]).size().reset_index(name='count')
table_8['percentage'] = round(table_8.groupby('Converted_to_Paid')['count'].transform(lambda x: x / x.sum() * 100), 1)
table_8

   Converted_to_Paid               Churn_Reason  count  percentage
0                 No               Confusing UX      1         0.7
1                 No        Dashboard confusing      3         2.1
2                 No      Didn’t complete setup     26        17.8
3                 No    Didn’t explore features      4         2.7
4                 No  Didn’t explore full trial      1         0.7
5                 No         Didn’t feel secure      1         0.7
6                 No          Didn’t match need      1         0.7
7                 No           Didn’t see value     30        20.5
8                 No  Didn’t trust banking flow     20        13.7
9                 No           Missing phone UI      1         0.7
10                No        Needed integrations      1         0.7
11                No      Prefer existing tools     15        10.3
12                No                  Too buggy     19        13.0
13                No              Too expensive     19        13.0
14                No       Too few integrations      4         2.7
15               Yes      Didn’t complete setup      3        23.1
16               Yes           Didn’t see value      2        15.4
17               Yes  Didn’t trust banking flow      2        15.4
18               Yes                  Too buggy      4        30.8
19               Yes              Too expensive      2        15.4

FUNNEL ANALYSIS

In [22]:
### creating the funnel


# Calculate user count at each step
step_1 = df['User_ID'].nunique()  # All users who signed up
step_2 = df[df['Trial_Usage_Level'].isin(['Medium', 'High'])]['User_ID'].nunique()
step_3 = df[df['Support_Used'] == 'Yes']['User_ID'].nunique()
step_4 = df[df['Bank_Connected'] == 'Yes']['User_ID'].nunique()
step_5 = df[df['Converted_to_Paid'] == 'Yes']['User_ID'].nunique()

# Build the funnel dataframe
funnel = pd.DataFrame({
    'Step': ['Signed Up', 'Used Features', 'Used Support', 'Connected Bank', 'Converted'],
    'Users': [step_1, step_2, step_3, step_4, step_5]
})

# Calculate % of users retained from previous step
funnel['Retained_from_previous (%)'] = funnel['Users'].div(funnel['Users'].shift(1)).round(2) * 100

# Calculate actual drop-off (%)
funnel['Dropoff_from_previous (%)'] = 100 - funnel["Retained_from_previous (%)"]

funnel

,Step,Users,Retained_from_previous (%),Dropoff_from_previous (%)
0,Signed Up,260,NaN,NaN
1,Used Features,191,73.0,27.0
2,Used Support,123,64.0,36.0
3,Connected Bank,123,100.0,0.0
4,Converted,86,70.0,30.0

In [23]:
## BEHAVIOUR  BASED CONVERSION FUNNEL

df['signed_up'] = True  # everyone signed up
df['used_features'] = df['Trial_Usage_Level'].notna()
df['used_support'] = df['Support_Used'] == 'Yes'
df['connected_bank'] = df['Bank_Connected'] == 'Yes'
df['converted'] = df['Converted_to_Paid'] == "Yes"

In [24]:
### HOW MANY USERS CONVERTED WITHOUT USING FEATURES
df[(df['converted']) & (~df['used_features'])].shape[0]

0

In [25]:
### HOW MANY USERS USED FEATURES BUT DID NOT CONVERT
df[(df['used_features']) & (~df['converted'])].shape[0]

174

In [26]:
###  HOW MANY PEOPLE USED SUPPORT BUT DID NOT CONVERT

df[(df['used_support']) & (~df['converted'])].shape[0]

83

In [27]:
##HOW MANY PEOPLE CONVERTED WITHOUT USING SUPPORT
df[(df['converted']) & (~df['used_support'])].shape[0]

46

In [28]:
## how many users used either of the bellow

df[(df['converted']) & (
    (~df['used_features']) |
    (~df['used_support']) |
    (~df['connected_bank'])
)].shape[0]

67

In [29]:
## DEFINING USER BEHAVIOUR

### CREATING THE POWER USERS
(df['Converted_to_Paid'] == 'Yes') &(df["Trial_Usage_Level"]== "High")

## engaged but didnt convert(engaged - non converter
(df['Converted_to_Paid'] == 'No') & (df["Trial_Usage_Level"].isin(["Medium", "High"]))

## light users
(df['Converted_to_Paid'] == 'No') &(df["Trial_Usage_Level"]== "Low")  

## instant drop offs
(df['Converted_to_Paid'] == 'No') &(df["Trial_Usage_Level"]== "Low")  

## silent converters
(df['Converted_to_Paid'] == 'Yes') & (df['Support_Used'] =="No")

## support seekers
(df['Support_Used'] == 'Yes')

0      False
1       True
2       True
3      False
4       True
       ...
255    False
256    False
257    False
258     True
259    False
Name: Support_Used, Length: 260, dtype: bool

In [30]:
## pople who used support
df['Support_Used'].value_counts(normalize=True) * 100

Support_Used
No     52.692308
Yes    47.307692
Name: proportion, dtype: float64

In [31]:
### % of users who connected their bank 
df['Bank_Connected'].value_counts(normalize=True) * 100

Bank_Connected
No     52.692308
Yes    47.307692
Name: proportion, dtype: float64

In [32]:
## CREATING A NEW COLUMN USER_BEHAVIOR_BUCKET


def assign_user_bucket(row):
    if row['Converted_to_Paid'] == 'Yes' and row['Trial_Usage_Level'] == 'High':
        return 'Power User'
    elif row['Converted_to_Paid'] == 'No' and row['Trial_Usage_Level'] in ['Medium', 'High']:
        return 'Engaged Non-Converter'
    elif row['Converted_to_Paid'] == 'No' and row['Trial_Usage_Level'] == 'Low':
        return 'Light User'
    elif row['Converted_to_Paid'] == 'No' and row['Support_Used'] == 'No' and row['Trial_Usage_Level'] == 'Low':
        return 'Instant Drop-off'
    elif row['Converted_to_Paid'] == 'Yes' and row['Support_Used'] == 'No':
        return 'Silent Converter'
    elif row['Support_Used'] == 'Yes':
        return 'Support Seeker'
    else:
        return 'Other'

df['User_Behavior_Bucket'] = df.apply(assign_user_bucket, axis=1)

In [33]:
df

,User_ID,Country,Freelancer_Type,Solo_or_Team,Active_Clients,Features_Used,Trial_Usage_Level,Nudges_Responded,Bank_Connected,Support_Used,...,Total_Logins,Paid_Plan,Payment_Method,Churn_Reason,signed_up,used_features,used_support,connected_bank,converted,User_Behavior_Bucket
0,51,UK,Consultant,Team,5,"Clients, Cashflow",Low,NaN,Yes,No,...,41,basic,NaN,Didn’t see value,True,True,False,True,False,Light User
1,52,UK,Artist,Solo,2,Reports,High,Urgency Nudge,No,Yes,...,37,basic,NaN,NaN,True,True,True,False,False,Engaged Non-Converter
2,53,Kenya,Consultant,Solo,3,"Expense, Invoice, Reports",High,"Upsell, Urgency Nudge",No,Yes,...,11,basic,NaN,NaN,True,True,True,False,False,Engaged Non-Converter
3,54,Kenya,Developer,Team,10,Invoice,High,Upsell,Yes,No,...,42,basic,NaN,NaN,True,True,False,True,False,Engaged Non-Converter
4,55,Nigeria,Artist,Solo,0,"Clients, Reports, Invoice",Medium,NaN,No,Yes,...,44,basic,NaN,NaN,True,True,True,False,False,Engaged Non-Converter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,306,Ghana,Developer,Team,2,"Reports, Clients, Cashflow",Low,Upsell,No,No,...,21,premium,Bank Transfer,NaN,True,True,False,False,True,Silent Converter
256,307,UK,Artist,Solo,11,Clients,Medium,NaN,No,No,...,49,pro,Credit Card,NaN,True,True,False,False,True,Silent Converter
257,308,Nigeria,Artist,Team,12,"Invoice, Reports, Clients",High,Urgency Nudge,Yes,No,...,17,pro,PayPal,NaN,True,True,False,True,True,Power User
258,309,UK,Artist,Solo,6,Expense,Medium,NaN,Yes,Yes,...,40,basic,NaN,Too buggy,True,True,True,True,False,Engaged Non-Converter
259,310,UK,Artist,Solo,9,Invoice,High,Urgency Nudge,No,No,...,5,basic,NaN,Too buggy,True,True,False,False,False,Engaged Non-Converter

In [34]:
## creating a pivot table


bucket_summary = (
    df.groupby(['User_Behavior_Bucket', 'Converted_to_Paid'])
      .size()
      .reset_index(name='count')
)

# Pivot to make it easier to compare
pivot = bucket_summary.pivot(index='User_Behavior_Bucket',
                              columns='Converted_to_Paid',
                              values='count').fillna(0)

pivot['Total'] = pivot['Yes'] + pivot['No']
pivot['Conversion_Rate (%)'] = round((pivot['Yes'] / pivot['Total']) * 100, 1)

pivot = pivot.reset_index()
pivot

Converted_to_Paid,User_Behavior_Bucket,No,Yes,Total,Conversion_Rate (%)
0,Engaged Non-Converter,125.0,0.0,125.0,0.0
1,Light User,49.0,0.0,49.0,0.0
2,Power User,0.0,37.0,37.0,100.0
3,Silent Converter,0.0,25.0,25.0,100.0
4,Support Seeker,0.0,24.0,24.0,100.0

In [35]:
### ANALYZING BEHAVIOUR OF ENGAGED NON CONVERTER


# Step 1: Filter for Engaged Non-Converters
engaged_non_converters = df[df['User_Behavior_Bucket'] == 'Engaged Non-Converter']

In [36]:
#how many connected their bank

engaged_non_converters['Bank_Connected'].value_counts(normalize=True) * 100

Bank_Connected
No     53.6
Yes    46.4
Name: proportion, dtype: float64

In [37]:
## HOW MANY USED SUPPORT
engaged_non_converters['Support_Used'].value_counts(normalize=True) * 100

Support_Used
No     56.8
Yes    43.2
Name: proportion, dtype: float64

In [38]:
### TRIAL USAGE LEVEL
engaged_non_converters['Trial_Usage_Level'].value_counts(normalize=True) * 100

Trial_Usage_Level
Medium    56.0
High      44.0
Name: proportion, dtype: float64

In [39]:
### ANALYZING BEHAVIOUR OF light house user


# Step 1: Filter for Engaged Non-Converters
light_user= df[df['User_Behavior_Bucket'] == 'Light User']

In [40]:
#how many connected their bank

light_user['Bank_Connected'].value_counts(normalize=True) * 100

Bank_Connected
Yes    51.020408
No     48.979592
Name: proportion, dtype: float64

In [41]:
## HOW MANY USED SUPPORT
light_user['Support_Used'].value_counts(normalize=True) * 100

Support_Used
Yes    59.183673
No     40.816327
Name: proportion, dtype: float64

In [42]:
### TRIAL USAGE LEVEL
light_user['Trial_Usage_Level'].value_counts(normalize=True) * 100

Trial_Usage_Level
Low    100.0
Name: proportion, dtype: float64

In [43]:
### ANALYZING BEHAVIOUR OF power users


# Step 1: Filter for power users
power_user= df[df['User_Behavior_Bucket'] == 'Power User']

In [44]:
#how many connected their bank

power_user['Bank_Connected'].value_counts(normalize=True) * 100

Bank_Connected
No     54.054054
Yes    45.945946
Name: proportion, dtype: float64

In [45]:
## HOW MANY USED SUPPORT
power_user['Support_Used'].value_counts(normalize=True) * 100

Support_Used
No     56.756757
Yes    43.243243
Name: proportion, dtype: float64

In [46]:
### TRIAL USAGE LEVEL
power_user['Trial_Usage_Level'].value_counts(normalize=True) * 100

Trial_Usage_Level
High    100.0
Name: proportion, dtype: float64

In [47]:
df["User_Behavior_Bucket"].value_counts()

User_Behavior_Bucket
Engaged Non-Converter    125
Light User                49
Power User                37
Silent Converter          25
Support Seeker            24
Name: count, dtype: int64

In [48]:
### exporting the cleaned file
df.to_csv('Indiepay_users.csv', index=False)

In [49]:
import os
os.getcwd()

'C:\\Users\\hp'

In [51]:
df["Converted_to_Paid"].value_counts()

Converted_to_Paid
No     174
Yes     86
Name: count, dtype: int64

In [55]:
# %  of trial usage level within each conversion status, plus their percentage share

df.groupby("converted")["Trial_Usage_Level"].value_counts(normalize=True) * 100

converted  Trial_Usage_Level
False      Medium               40.229885
           High                 31.609195
           Low                  28.160920
True       High                 43.023256
           Medium               33.720930
           Low                  23.255814
Name: proportion, dtype: float64

In [56]:
# %  of useres who used support  within each conversion status, plus their percentage shar
df.groupby("converted")["Support_Used"].value_counts(normalize=True) * 100

converted  Support_Used
False      No              52.298851
           Yes             47.701149
True       No              53.488372
           Yes             46.511628
Name: proportion, dtype: float64